@import '../../../styles/variables';
 h2, p {
  color: $ivory;
 }

div.fiction, div.non-fiction {
  background-color: $light-black;
}

.accordion-button {
  padding: 0;
  background: $light-black;
  color: $ivory;
  font-size: 16px;
  font-family: $font-saira;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  &:focus {
    box-shadow: none;
  }
  &::after, &.collapsed::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f9f4da'><path%20fill-rule='evenodd'%20d='M1.646%204.646a.5.5%200%200%201%20.708%200L8%2010.293l5.646-5.647a.5.5%200%200%201%20.708.708l-6%206a.5.5%200%200%201-.708%200l-6-6a.5.5%200%200%201%200-.708z'/></svg>");
  }
}

.accordion-item {
  border: none;
  background: $light-black;
}

.each-book {
  div {
    height: 120px;
    img, .no-image {
      max-width: 80px;
      &:hover {
        cursor: pointer;
      }
    }
    .no-image {
      &:hover {
        cursor: pointer;
      }
    }
  }
  &:hover {
    transition: .4s;
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
  }
}

.spinner-border.button {
  margin-right: 0 !important;
  margin-top: 3px !important;
  width: 17px !important;
  height: 17px !important;
}

.modal-body {
  &.book-detail {
    img {
      max-width: 100%;;
    }
  }
}


h3 {
  color: $ivory;
}