<h3>Fiction</h3>
<div class="d-flex flex-wrap">
  @for(book of fictionBooks; track book.primary_isbn10; let index = $index) {
    @if(index < 6) {
    <ng-container
        *ngTemplateOutlet="
          bestsellerItem;
          context: {each: book}
        "
      />
    }
  }
</div>
<div ngbAccordion>
  <div ngbAccordionItem>
    <div ngbAccordionHeader>
      <button
        ngbAccordionButton
      >
        View More
      </button>
    </div>
    <div ngbAccordionCollapse>
      <div
        ngbAccordionBody
        class="px-0"
      >
        <ng-template>
          @for(book of fictionBooks; track book.primary_isbn10; let index = $index) {
            @if(index > 6) {
            <ng-container
                *ngTemplateOutlet="
                  bestsellerItem;
                  context: {each: book}
                "
              />
            }
          }
        </ng-template>
      </div>
    </div>
  </div>
</div>


<h3>Non-Fiction</h3>
<div class="d-flex flex-wrap">
  @for(book of nonFictionBooks; track book.primary_isbn10; let index = $index) {
    @if(index < 6) {
    <ng-container
        *ngTemplateOutlet="
          bestsellerItem;
          context: {each: book}
        "
      />
    }
  }
</div>

<ng-template
    #bestsellerItem
    let-book="each"
  >
  <div>
    <h4>{{ book.title }}</h4>
    <strong> {{ book.author }} </strong>
    <img
      [src]="book.book_image"
      [alt]="'picture of the cover of ' + book.title"
      class="d-block"
      [style.max-width.px]="90"
    >
    <div ngbAccordion>
      <div ngbAccordionItem>
        <div ngbAccordionHeader>
          <button
            ngbAccordionButton
          >
            Overview
          </button>
        </div>
        <div ngbAccordionCollapse>
          <div
            ngbAccordionBody
            class="px-0"
          >
            <ng-template><p>
              {{ book.description }}
            </p></ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>