@import '../../../styles/variables';

a {
  color: $ivory;
  font-family: $font-ubuntu;
  border-bottom: solid 2px $black;
  &:hover {
    cursor: pointer;
    border-bottom: solid 2px $salmon;
  }
}

::ng-deep .modal-body {
  min-height: 100px;
}