
<app-header [centered]="true"/>
<main>
  @if(!isSubmitting) {
    <form
      #ngForm="ngForm"
      class="mt-2 p-4 m-auto rounded"
      [formGroup]="form"
      (ngSubmit)="onSubmit()">
          @if(form.controls['first']; as first) {
            <div class="mb-2">
              <label class="d-block" for="first">
                <i class="bi bi-blockquote-left me-1"></i>
                First name
              </label>
              <input
                [class.is-invalid]="
                  (!first.valid && first.touched) ||
                (!first.valid && ngForm.submitted)"
                class="w-100"
                type="text"
                formControlName="first"
                id="first"
              />
            </div>
          }
          @if(form.controls['last']; as last) {
            <div class="mb-2">
              <label class="d-block" for="last">
                <i class="bi bi-blockquote-right me-1"></i>
                Last name
              </label>
              <input
                [class.is-invalid]="
                  (!last.valid && last.touched) ||
                (!last.valid && ngForm.submitted)"
                class="w-100"
                type="text"
                formControlName="last"
                id="last"
              />
            </div>
          }
          @if(form.controls['email']; as email) {
            <div class="mb-2">
              <label class="d-block" for="email">
                <i class="bi bi-envelope-at me-1"></i>
                Email
                @if(email.errors?.['email'] && email.touched) {
                  <span class="ms-1">Invalid email format</span>
                }
              </label>
              <input
                [class.is-invalid]="
                  (!email.valid && email.touched) ||
                (!email.valid && ngForm.submitted)"
                class="w-100"
                type="text"
                formControlName="email"
                id="email"
              />
            </div>
          }
          @if(form.controls['username']; as username) {
            <div class="mb-2">
              <label class="d-block" for="username">
                <i class="bi bi-person-rolodex me-1"></i>
                Username
              </label>
              <input
                [class.is-invalid]="
                  (!username.valid && username.touched) ||
                (!username.valid && ngForm.submitted)"
                class="w-100"
                type="text"
                formControlName="username"
                id="username"
              />
            </div>
          }
          @if(form.controls['password']; as password) {
            <div class="mb-2 w-100">
              <label class="d-block" for="password">
                <i class="bi bi-shield-lock me-1"></i>
                Password
                @if(password.errors?.['minlength'] && password.touched) {
                  <span class="ms-1">Minimum length for password is 8 characters</span>
                }
              </label>
              <input
                #passwordType
                [class.is-invalid]="
                  (!password.valid && password.touched) ||
                (!password.valid && ngForm.submitted)"
                type="password"
                class="w-100"
                formControlName="password"
                id="password"
              />
              <button
                class="btn password-toggle"
                type="button"
                (click)="toggleType($event, passwordType)"
              >
                <i class="bi bi-eye"></i>
              </button>
            </div>
          }
          @if(form.controls['passwordConfirm']; as passwordConfirm) {
            <div class="mb-2">
              <label class="d-block" for="passwordConfirm">
                <i class="bi bi-shield-lock-fill me-1"></i>
                Confirm password
                @if(form.errors?.['passwordsMismatch'] && passwordConfirm.touched) {
                  <span class="ms-1">Passwords do not match</span>
                }
              </label>
              <input
                #confirmPasswordType
                [class.is-invalid]="
                  (!passwordConfirm.valid && passwordConfirm.touched) ||
                (!passwordConfirm.valid && ngForm.submitted)"
                class="w-100"
                type="password"
                formControlName="passwordConfirm"
                id="passwordConfirm"
              />
              <button
                class="btn password-toggle"
                type="button"
                (click)="toggleType($event, confirmPasswordType)"
              >
                <i class="bi bi-eye"></i>
              </button>
            </div>
          }
      <button class="btn main-teal-button mt-3" type="submit">
        @if(isSubmitting) {
          <span class="me-2">Verifying</span>
          <span class="spinner-border button" role="status">
          </span>
        } @else {
          <span class="me-2">Sign up</span>
          <i class="bi bi-save"></i>
        }
      </button>
      <div class="mt-3 text-center">
        <p>
          Already have an account? <a routerLink="/login">Login!</a>
        </p>
      </div>
    </form>
  } @else {
    <span class="spinner-border" role="status">
    </span>
  }
</main>

