<app-header />
<app-navbar />
<div class="row">
  <div class="col-md-9">
    <div class="row mb-3 p-3 rounded reading">
      <div class="col-sm-3 border-end">
        <h2>You're Reading</h2>
        <button
          class="btn add-button"
          (click)="onOpenForm(content, null)"
        >
            Add a book
            <i class="bi bi-bookmark-plus ms-1"></i>
        </button>
      </div>
      <div class="col-sm-9">
        <div class="d-flex flex-wrap">
          @for(book of currentBooks; track book.id) {
            <app-book-item
              [selectedBook]="book"
              [editable]="true"
            />
          }
        </div>
      </div>
    </div>
    <div class="row mb-3 p-3 rounded read">
      <div class="col-sm-3 border-end">
        <h2>Recently Read</h2>
        <button
          class="btn add-button"
          [routerLink]="['/books']"
        >
            View all books
            <i class="bi bi-bookmarks ms-1"></i>
        </button>
      </div>
      <div class="col-sm-9">
        <div class="d-flex flex-wrap">
          @for(book of recentBooks; track book.id; let index = $index) {
            @if(index < 3 && book.image_url) {
              <app-book-item
                [selectedBook]="book"
                [editable]="true"
              />
            }
          }
        </div>
      </div>
    </div>
    <div class="row mb-3 p-3 rounded connections">
      <div class="col-sm-3 border-end">
        <h2>Friends' Recent Reads</h2>
        <button
          class="btn add-button"
          [routerLink]="['/book-list']"
        >
            Find Friends
            <i class="bi bi-bookmarks ms-1"></i>
        </button>
      </div>
      <div class="col-sm-9">
        <div class="d-flex flex-wrap">
          @for(book of recentBooks; track book.id; let index = $index) {
            @if(index < 6 && book.image_url) {
              <app-book-item
                [selectedBook]="book"
              />
            }
          }
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <h2>Best Sellers</h2>
    <app-bestsellers />
  </div>
</div>

<ng-template
  #content
  let-modal
>
  <div class="modal-header">
    <h4
      class="modal-title"
      id="modal-basic-title"
    >
      @if(!selectedBook) {
        <i class="bi bi-bookmark-plus me-2"></i>
        Add to your library
      } @else {
        <i class="bi bi-pencil me-2"></i>
        Editing <em>{{ selectedBook.title }}</em>
      }

    </h4>
    <button
      class="btn ms-auto"
      (click)="modal.dismiss('Cross click')"
      type="button"
      aria-label="Close"
    >
    <i class="bi bi-x-square-fill"></i>
  </button>
  </div>
  <div class="modal-body rounded">
    <div>
      <app-book-form
        [editingBook]="selectedBook"
      />
    </div>
  </div>
</ng-template>