<app-header />
<app-navbar />
<main>
  <div class="row">
    <div
      [ngClass]="noBooks || fullWidth ? 'px-4' : 'col-lg-9 px-4'"
    >
        <div class="row mb-3 py-3 px-1 px-md-3 rounded reading mt-3">
          @if(isLoading) {
            <span class="spinner-border" role="status">
            </span>
          } @else {
            @if(currentBooks.length) {
              <div class="col-md-3 ps-0 align-content-center">
                  <h2>
                    <i class="bi bi-body-text me-1"></i>
                    Reading
                  </h2>
              </div>
              <div class="col-md-9">
                  <div class="d-sm-flex flex-wrap justify-content-between mt-md-0 mt-3">
                   <div>
                    @for(book of currentBooks; track book.id; let index = $index) {
                      @if(index < 1) {
                        <app-book-item
                        [selectedBook]="book"
                        [editable]="true"
                        (bookUpdated)="fetchBooks(userId)"
                      />
                      }
                    }
                    @if(currentBooks.length > 1) {
                      <div ngbAccordion>
                        <div ngbAccordionItem class="mb-4">
                          <div ngbAccordionHeader>
                            <button
                              ngbAccordionButton
                            >
                              View More
                            </button>
                          </div>
                          <div ngbAccordionCollapse>
                            <div
                              ngbAccordionBody
                              class="px-0"
                            >
                              <ng-template>
                                <div class="d-flex flex-wrap">
                                @for(book of currentBooks; track book.id; let index = $index) {
                                  @if(index > 0) {
                                    <app-book-item
                                      [selectedBook]="book"
                                      [editable]="true"
                                      (bookUpdated)="fetchBooks(userId)"
                                    />
                                  }
                                }
                                </div>
                              </ng-template>
                            </div>
                          </div>
                        </div>
                      </div>
                    }
                    <button
                      class="btn main-teal-button full-width"
                      (click)="onOpenForm(content, null)"
                    >
                        Add a book
                        <i class="bi bi-bookmark-plus ms-1"></i>
                    </button>
                   </div>
                   <div class="align-content-center text-center goals mt-4 mt-sm-0">
                    <app-user-stats
                      [currentBookCount]="completed2025.length"
                    />
                    </div>
                  </div>

              </div>
            } @else {
              <h2>
                <i class="bi bi-bookmark-x-fill me-2"></i>
                No current books
              </h2>
              <div class="d-flex">
                <div class="align-content-center">
                  <p><i class="bi bi-search me-2"></i></p>
                </div>
                <div class="align-content-center">
                  <p>Search for books to add</p>
                </div>
              </div>
              <app-book-form
                [noModal]="true"
                (bookUpdated)="fetchBooks(userId)"
              />
            }
          }
        </div>
        @if(recentBooks.length && !isLoading) {
          <div class="row mb-3 py-3 px-1 px-md-3 rounded read">
            <div class="col-md-3 ps-0 align-content-center">
              <h2>
                <i class="bi bi-bookmark-check-fill me-1"></i>
                Latest
              </h2>
            </div>
            <div class="col-md-9">
              <div class="d-flex flex-wrap justify-content-between mt-md-0 mt-3">
                @for(book of recentBooks; track book.id; let index = $index) {
                  @if(index < 6 && book.image_url) {
                    <app-book-item
                      [selectedBook]="book"
                      [editable]="true"
                      (bookUpdated)="fetchBooks(userId)"
                    />
                  }
                }
              </div>
              <!-- [routerLink]="['/books', userId]"> -->
              <button
                class="btn main-teal-button"
                [routerLink]="['/books']" [queryParams]="{ user: userId }">
                  All Books
                  <i class="bi bi-bookmarks ms-1"></i>
              </button>
            </div>
          </div>
        }
        @if(existingConnections.length) {
          <div class="row mb-3 py-3 px-1 px-md-3 rounded connections">
            <div class="col-md-3 ps-0 mb-md-0 mb-3">
              <h2>
                <i class="bi bi-people-fill me-1"></i>
                Friends
              </h2>
            </div>
            <div class="col-md-9">
              @if(isLoadingConnections) {
              <span class="spinner-border" role="status">
              </span>
              } @else {
                <div>
                  @for(each of existingConnections; track each.id) {
                    <app-each-connection
                      [connection]="each"
                      [connectionsCount]="existingConnections.length"
                      [allowRemoval]="false"
                      [minimize]="true"
                      (bookUpdated)="fetchBooks(userId)"
                    />
                  }
                </div>
              }
              <button
                class="btn main-teal-button"
                [routerLink]="['/connections']">
                  All Friends
                  <i class="bi bi-people-fill ms-1"></i>
              </button>
            </div>

          </div>
        }
    </div>
    <div
    [ngClass]="noBooks ? '' : 'col-lg-3 pt-4'"
    >
      <app-bestsellers
        (updateBooks)="fetchBooks(userId)"
        (noBestsellers)="fullWidthBooks()"
      />
    </div>
  </div>
</main>

<ng-template
  #content
  let-modal
>
  <div class="modal-header">
    <h4
      class="modal-title"
      id="modal-basic-title"
    >
      Add to your library
    </h4>
    <button
      class="btn ms-auto"
      (click)="modal.dismiss('Cross click')"
      type="button"
      aria-label="Close"
    >
    <i class="bi bi-x-square-fill"></i>
  </button>
  </div>
  <div class="modal-body rounded">
    <div>
      <app-book-form
        (bookUpdated)="fetchBooks(userId)"
        [allUserBooks]="allUserBooks"
      />
    </div>
  </div>
</ng-template>