@import '../../../styles/variables';

h1, h2, h3, p, i {
  color: $ivory;
}

h1 {
  font-size: $font-size-large;
}

h2 {
  font-size: $font-size-medium;
}

p, p > i {
  font-size: $font-size-base;
}

div.reading, div.read, div.connections {
  background-color: $light-black;
  div.col-md-3 {
    border-right: solid 3px $yellow;
    @media screen and (max-width: 767px) {
      border-right: none !important;
      text-align: center;
      border-bottom: solid 3px $yellow;
      padding-bottom: 10px;
    }
  }
}

.add-button {
  background-color: $teal;
  color: $ivory;
  &:hover {
    background-color: $ivory;
    color: $teal;
    i {
      color: $teal;
    }
  }
}
