@import '../../../styles/variables';

h1, h2, h3, p, i {
  color: $ivory;
}

h2 {
  font-size: $font-size-medium;
  font-family: $font-saira;
}

p, p > i {
  font-size: $font-size-small;
}

div.reading, div.read, div.connections {
  background-color: $light-black;
  div.col-md-3 {
    border-right: solid 3px $yellow;
    @media screen and (max-width: 767px) {
      border-right: none !important;
      text-align: center;
      border-bottom: solid 3px $yellow;
      padding-bottom: 10px;
    }
  }
}

.add-button {
  background-color: $teal;
  color: $ivory;
  &:hover {
    background-color: $ivory;
    color: $teal;
    i {
      color: $teal;
    }
  }
}

.accordion-button {
  padding: 0;
  background: $light-black;
  color: $ivory;
  font-size: 20px;
  // font-family: $font-ubuntu;
  font-family: $font-saira;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  &:focus {
    box-shadow: none;
  }
  &::after, &.collapsed::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f9f4da'><path%20fill-rule='evenodd'%20d='M1.646%204.646a.5.5%200%200%201%20.708%200L8%2010.293l5.646-5.647a.5.5%200%200%201%20.708.708l-6%206a.5.5%200%200%201-.708%200l-6-6a.5.5%200%200%201%200-.708z'/></svg>");
  }
}

.accordion-item {
  border: none;
  background: $light-black;
}

.goals {
  @media screen and (min-width: 576px) {
    max-width: 165px;
  }
}
