@import '../../../styles/variables';

h1, h2, h3, p, i {
  color: $ivory;
}

h1 {
  font-size: $font-size-large;
}

h2 {
  font-size: $font-size-medium;
}

p, p > i {
  font-size: $font-size-base;
}

div.reading, div.read, div.connections {
  background-color: $light-black;
}

.add-button {
  background-color: $teal;
  color: $ivory;
  &:hover {
    background-color: $ivory;
    color: $teal;
    i {
      color: $teal;
    }
  }
}

::ng-deep .modal-body {
  padding: 0;
}

::ng-deep .modal-header {
  background-color: $light-black;
  color: $ivory;
  border-bottom: 0;
  button {
    color: $ivory;
    i {
      font-size: 24px;
    }
  }
}
