<nav class="navbar p-1">
  <ul class="list-unstyled d-flex ms-auto">
    <li class="ms-3"><a class="pb-1" routerLink="/home" routerLinkActive="active">Home <i class="bi bi-house ms-1"></i></a></li>
    <li class="ms-3"><a class="pb-1" routerLink="/books" routerLinkActive="active">Book List <i class="bi bi-bookmarks ms-1"></i></a></li>
    <li class="ms-3"><a class="pb-1" routerLink="/books" routerLinkActive="active">Friends <i class="bi bi-people ms-1"></i></a></li>
    <li>
      <app-logout />
    </li>
  </ul>
</nav>