@import '../../../styles/variables';

a {
  color: $ivory;
  text-decoration: none;
  // font-family: $font-ubuntu;
  font-family: $font-saira;
  font-size: $font-size-small;
  border-bottom: solid 2px $black;
  &:hover {
    border-bottom: solid 2px $salmon;
  }
  &.active {
    border-bottom: solid 3px $salmon;
  }
  @media screen and (max-width: 470px) {
    font-size: 13px;
  }
}
