@import '../../../styles/variables';

nav {
  border-top: 3px solid $purple;

  @media screen and (max-width: 768px) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    background: $purple;
    border-top: 3px solid $ivory;
    z-index: 1000;
  }

}
a {
  color: $ivory;
  text-decoration: none;
  font-family: $font-saira;
  font-size: $font-size-small;
  border-bottom: solid 2px $black;
  &:hover {
    border-bottom: solid 2px $salmon;
  }
  &.active {
    border-bottom: solid 3px $salmon;
  }
  @media screen and (max-width: 470px) {
    font-size: 13px;
  }
}
