<app-header />
<app-navbar />
<div class="py-4 px-3 search-section rounded">
  <ng-select
    [items]="connections$ | async"
    [typeahead]="connectionInput$"
    [loading]="isLoading"
    loadingText="Searching..."
    [(ngModel)]="selectedConnection"
    (change)="onChange($event)"
    placeholder="Type book title and author to search..."
  >
  <ng-template
    ng-label-tmp
    let-item="item"
    >
    <div class="d-flex align-items-center gap-1">
      <span>{{ item.first }}</span> <span>{{ item.last }}</span>
    </div>
    </ng-template>
    <ng-template
      ng-option-tmp
      let-item="item"
      let-search="searchTerm"
      >
      <div class="d-flex align-items-center gap-1">
        <span [ngOptionHighlight]="search">{{ item.first }} {{ item.last }}</span>
        <button
          class="btn btn-primary"
          (click)="addConnection(item.id)"
          >
          Add {{ item.first }}
        </button>
      </div>
    </ng-template>
  </ng-select>
</div>
@if(isAdding) {
  <span class="spinner-border" role="status">
  </span>
}