<app-header />
<app-navbar />
<h2 class="text-center">
  <i class="bi bi-person-add me-1"></i>
  Find and Add Friends
</h2>
<div class="py-4 px-3 search-section rounded mb-4 mx-auto">
  <ng-select
    [items]="connections$ | async"
    [typeahead]="connectionInput$"
    [loading]="isLoading"
    loadingText="Searching..."
    [(ngModel)]="selectedConnection"
    (change)="onChange($event)"
    placeholder="Search by name..."
  >
    <ng-template
      ng-option-tmp
      let-item="item"
      let-search="searchTerm"
      >
      <span class="ng-value-label">
        <div class="d-flex align-items-center gap-1"
          [style.cursor]="item.disabled ? 'default' : null"
        >
          <span [ngOptionHighlight]="search">{{ item.first }} {{ item.last }}</span>
          @if(alreadyAdded(item.id)) {
            <span
              class="badge text-bg-secondary text-uppercase ms-2"
            >
              Already added
            </span>
          }
          @else {
            <button
              class="btn main-teal-button px-2 py-0 ms-2"
              (click)="addConnection(item.id)"
              >
              Add {{ item.first }}
              <i class="bi bi-person-add ms-1"></i>
            </button>
          }

        </div>
      </span>

    </ng-template>
  </ng-select>
</div>
@if(isAdding) {
  <span class="spinner-border" role="status">
  </span>
}

@if(existingConnections.length) {
  <section>
    <h2 class="text-center mb-3">
      <i class="bi bi-people-fill me-1"></i>
      Your Friends
    </h2>
    @if(isLoadingConnections) {
      <span class="spinner-border" role="status">
      </span>
    } @else {
      <div>
        @for(each of existingConnections; track each.id) {
          <app-each-connection
            [connection]="each"
            (unfollow)="removeConnection(each.id)"
            [connectionsCount]="existingConnections.length"
          />
        }
      </div>

    }
  </section>
}

