@import '../../../styles/variables';

h4, p {
  color: $ivory;
}

.no-image-icon {
  color: $ivory;
  font-size: 75px;
  &:hover {
    cursor: pointer;
  }
}

.book-item {
  max-width: 136px;
  img {
    max-height: 192px;
    &:hover {
      cursor: pointer;
    }
  }
}

.text-container {
  position: relative;
  overflow: hidden;
  margin: 1rem 0;

  .text-content {
    transition: max-height 0.3s ease;
    max-height: 200px;
    overflow: hidden;

    &.expanded {
      max-height: none;
    }
  }

  .fade-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4rem;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      $ivory
    );
    pointer-events: none; // Ensure clicks pass through
  }
}

button.btn-link {
  margin-top: -25px;
  color: $purple;
}