@import '../../../styles/variables';

h4, p {
  color: $ivory;
}
.edit-button {
  background-color: $salmon;
  margin-left: 100px;
  margin-top: -42px;
  i {
    color: $black;
  }
  &:hover {
    background-color: $black;
    border: solid 1px $salmon;
    i {
      color: $salmon;
    }
  }
}

.book-item {
  max-width: 136px;
  img {
    max-height: 192px;
    &:hover {
      cursor: pointer;
    }
  }
}
