
  <div class="d-flex">
    <div
      class="m-2 book-item px-1"
    >
      @if(selectedBook.image_url) {
          <img
          [src]="selectedBook.image_url"
          [alt]="'book cover of '+ selectedBook.title"
          (click)="onOpenBook(contentBook, selectedBook)"
        >
      } @else {
        <i class="bi bi-book no-image-icon d-block text-center"
        (click)="onOpenBook(contentBook, selectedBook)"
        ></i>
      }
      @if(editable) {
        <button
            class="btn edit-button overlay"
            (click)="onOpenForm(content, selectedBook)"
          >
            <i class="bi bi-pencil ms-1 fw-bold"></i>
        </button>
      }
    </div>
    @if(selectedBook.status === 2 || !selectedBook.image_url) {
      <div class="m-2 align-content-center">
        <h4 class="m-0">
          <em>
            {{selectedBook.title}}
          </em>
        </h4>
        <p>{{ selectedBook.author }}</p>
      </div>
    }
  </div>

  <ng-template
  #contentBook
  let-modal
>
  <div class="modal-header">
    <h4
      class="modal-title"
      id="modal-basic-title"
    >
      <i class="bi bi-book-half me-2"></i>
      <em>{{ selectedBook.title }}</em>
    </h4>
    <button
      class="btn ms-auto"
      (click)="modal.dismiss('Cross click')"
      type="button"
      aria-label="Close"
    >
    <i class="bi bi-x-square-fill"></i>
  </button>
  </div>
  <div class="modal-body">
    <div class="row p-3">
      <div class="col-8">
        @if(selectedBook.overview) {
          <div class="text-container">
            <div class="text-content" [class.expanded]="isExpanded">
              {{ selectedBook.overview }}
            </div>
            @if(!isExpanded) {
              <div class="fade-overlay"></div>
            }

          </div>
          <button class="btn btn-link d-block mx-auto text-decoration-none" (click)="toggleView()">
            {{ isExpanded ? 'View Less' : 'View More' }}
          </button>
        } @else {
          <h4>
            <i class="bi bi-window-x me-2"></i>
            No summary available
          </h4>
        }
      </div>
      <div class="col-4">
        @if(selectedBook.image_url) {
          <img
            [src]="selectedBook.image_url"
            [alt]="'book cover of '+ selectedBook.title"
            [style.max-width.px]="128"
          >
        }
        @if(editable) {
          <button
              class="btn edit-button"
              (click)="onOpenForm(content, selectedBook)"
            >
              <i class="bi bi-pencil ms-1 fw-bold"></i>
          </button>
        }
        @if(selectedBook.rating) {
          {{ selectedBook.rating }}
        }
      </div>
    </div>
  </div>
</ng-template>

<ng-template
  #content
  let-modal
>
  <div class="modal-header">
    <h4
      class="modal-title"
      id="modal-basic-title"
    >
      @if(!selectedBook) {
        <i class="bi bi-bookmark-plus me-2"></i>
        Add to your library
      } @else {
        <i class="bi bi-pencil me-2"></i>
        Editing <em>{{ selectedBook.title }}</em>
      }

    </h4>
    <button
      class="btn ms-auto"
      (click)="modal.dismiss('Cross click')"
      type="button"
      aria-label="Close"
    >
    <i class="bi bi-x-square-fill"></i>
  </button>
  </div>
  <div class="modal-body">
    <div>
      <app-book-form
        [editingBook]="selectedBook"
        (bookUpdated)="fetchBooks()"
      />
    </div>
  </div>
</ng-template>

