
  <div
    class="d-flex"
    [class.wide-book-item]="selectedBook.status === 2 && !minimize"
    [class.no-image-narrow-item]="selectedBook.status !== 2 && !selectedBook.image_url"
  >
    @if((selectedBook.status === 2 && !minimize) || !selectedBook.image_url) {
      <div
        class="m-2 align-content-center"
        (click)="selectedBook.status !== 2 ? onOpenBook(contentBook, selectedBook) : null"
        [class.hover]="selectedBook.status !== 2"
        >
        <h4 class="m-0"
        >
          <em>
            {{selectedBook.title}}
          </em>
        </h4>
        <p>{{ selectedBook.author }}</p>
        @if(selectedBook.rating) {
          <span
            class="rating d-flex justify-content-evenly"
            [class.narrow]="minimize"
            [innerHTML]="displayRating(selectedBook.rating)">
          </span>
        }
        @if(editable && !selectedBook.image_url) {
          <div ngbDropdown class="dropdown">
            <button ngbDropdownToggle class="btn edit-button dropdown-toggle ms-auto">
              <i class="bi bi-pencil ms-1 fw-bold"></i>
            </button>
            <div ngbDropdownMenu>
              <button
                ngbDropdownItem
                (click)="onOpenForm(content, selectedBook)"
                >
                <i class="bi bi-pencil me-1 fw-bold"></i>Edit
              </button>
              <button
                ngbDropdownItem
                (click)="onOpenDelete(deleteContent, selectedBook)"
              >
                <i class="bi bi-trash3 me-1 fw-bold"></i>Delete
              </button>
            </div>
          </div>
        }
      </div>
    }
    @if(selectedBook.image_url || selectedBook.status === 2) {
      <div
        class="m-2 book-item px-1"
        [class.narrow]="minimize"
      >
        @if(selectedBook.image_url) {
          <img
            [src]="selectedBook.image_url"
            [alt]="'book cover of '+ selectedBook.title"
            (click)="onOpenBook(contentBook, selectedBook)"
          >
        } @else {
          <i
            class="bi bi-book no-image-icon d-block text-center"
            (click)="onOpenBook(contentBook, selectedBook)"
          ></i>
        }
        @if(selectedBook.rating) {
          <span
            class="rating d-flex justify-content-evenly"
            [class.narrow]="minimize"
            [innerHTML]="displayRating(selectedBook.rating)">
          </span>
        }
        @if(editable && selectedBook.image_url) {
          <div ngbDropdown class="dropdown">
            <button ngbDropdownToggle
              class="btn edit-button overlay dropdown-toggle"
              [class.higher]="selectedBook.rating"
              >
              <i class="bi bi-pencil ms-1 fw-bold"></i>
            </button>
            <div ngbDropdownMenu>
              <button
                ngbDropdownItem
                (click)="onOpenForm(content, selectedBook)"
                >
                <i class="bi bi-pencil me-1 fw-bold"></i>Edit
              </button>
              <button
                ngbDropdownItem
                (click)="onOpenDelete(deleteContent, selectedBook)"
              >
                <i class="bi bi-trash3 me-1 fw-bold"></i>Delete
              </button>
            </div>
          </div>
        } @else if(!editable) {
          <button
            class="btn circle-teal-button"
            [class.wider]="!minimize"
            [class.higher]="selectedBook.rating"
            (click)="onOpenForm(content, selectedBook)"
            >
            <i class="bi bi-bookmark-plus fw-bold"></i>
          </button>
        }
      </div>
    }
  </div>

  <ng-template
    #contentBook
    let-modal
  >
  <div class="modal-header">
    <h4
      class="modal-title align-content-center"
      id="modal-basic-title"
      >
      <em>{{ selectedBook.title }}</em>
    </h4>
    <button
      class="btn ms-auto"
      (click)="modal.dismiss('Cross click')"
      type="button"
      aria-label="Close"
    >
    <i class="bi bi-x-square-fill"></i>
  </button>
  </div>
  <div class="modal-body book-detail">
    <div class="row p-3">
      <div
        [class.col-8]="selectedBook.image_url"
      >
        @if(selectedBook.overview) {
          <div class="text-container small">
            <div class="text-content" [class.expanded]="isExpanded">
              {{ selectedBook.overview }}
            </div>
            @if(!isExpanded) {
              <div class="fade-overlay"></div>
            }
          </div>
          <button
            class="px-0 btn btn-link d-block mx-auto text-decoration-none"
            (click)="toggleView()">
            {{ isExpanded ? 'View Less' : 'View More' }}
          </button>
        } @else {
          @if(!selectedBook.image_url) {
            <h4 class="modal-text">
              <i class="bi bi-book me-2"></i>
              {{ selectedBook.title }}
            </h4>
            <p class="fw-bold modal-text">{{ selectedBook.author }}</p>
          }
          <p class="modal-text">
            <i class="bi bi-window-x me-2"></i>
            No summary available
          </p>
        }
      </div>
      <div
        [class.col-4]="selectedBook.image_url"
      >
        @if(selectedBook.image_url) {
          <img
            [src]="selectedBook.image_url"
            [alt]="'book cover of '+ selectedBook.title"
          >
        }
        <div class="text-center">
          @if(selectedBook.rating) {
            <span class="rating-modal" [innerHTML]="displayRating(selectedBook.rating)"></span>
          }
          @if(selectedBook.comments) {
           <div class="text-decoration-underline fw-bold">Comments</div>
           <span class="small">{{ selectedBook.comments}}</span>
          }
        </div>
      </div>
    </div>
    @if(editable) {
      <div class="d-flex">
        <button
          class="btn main-teal-button mx-1"
          (click)="onOpenForm(content, selectedBook)"
        >
          Edit
          <i class="bi bi-pencil ms-1 fw-bold"></i>
        </button>
        <button
          class="btn main-red-button mx-1"
          (click)="onOpenDelete(deleteContent, selectedBook)"
        >
          Delete
          <i class="bi bi-trash3 fw-bold"></i>
        </button>
      </div>
    } @else {
      <button
        class="btn main-teal-button mt-3 full-width"
        (click)="onOpenForm(content, selectedBook)"
      >
        Add
        <i class="bi bi-bookmark-plus ms-1 fw-bold"></i>
      </button>
    }
  </div>
</ng-template>

<ng-template
  #content
  let-modal
>
  <div class="modal-header">
      @if(!selectedBook) {
        <h4
          class="modal-title"
          id="modal-basic-title"
        >
          Add to your reading list
        </h4>
      } @else if (!editable) {
        <h4
          class="modal-title align-content-center"
          id="modal-basic-title"
          >
          Add <em>{{ selectedBook.title }}</em>
        </h4>
      } @else {
        <h4
          class="modal-title align-content-center"
          id="modal-basic-title"
          >
          Editing <em>{{ selectedBook.title }}</em>
        </h4>
      }
    <button
      class="btn ms-auto"
      (click)="modal.dismiss('Cross click')"
      type="button"
      aria-label="Close"
    >
    <i class="bi bi-x-square-fill"></i>
  </button>
  </div>
  <div class="modal-body">
    <div>
      <app-book-form
        [editingBook]="selectedBook"
        [scrubBook]="!editable"
        (bookUpdated)="fetchBooks()"
      />
    </div>
  </div>
</ng-template>

<ng-template
  #deleteContent
  let-modal
>
<div class="modal-header">
  <h4
    class="modal-title align-content-center"
    id="modal-basic-title"
    >
    Sure you want to delete {{ selectedBook.title }}?
  </h4>
  <button
    class="btn ms-auto"
    (click)="modal.dismiss('Cross click')"
    type="button"
    aria-label="Close"
  >
  <i class="bi bi-x-square-fill"></i>
</button>
</div>
  <div class="modal-body align-content-center">
    <div>
      <div class="d-flex">
        <button
          class="btn main-purple-button me-1"
          (click)="modal.dismiss('Cross click')"
        >
          Cancel
          <i class="bi bi-x-lg ms-1"></i>
        </button>
        <button
          class="btn main-red-button ms-1"
          (click)="deleteBook(selectedBook.id)"
          >
          @if(isSubmitting) {
            <span class="me-2">Deleting</span>
            <span class="spinner-border button" role="status">
            </span>
          } @else {
            <span class="me-2">Delete</span>
            <i class="bi bi-trash3 ms-1"></i>
          }
        </button>
      </div>
    </div>
  </div>
</ng-template>

