@import '../../../styles/variables';

h4, p, .rating {
  color: $ivory;
}

h4.modal-text, h4.modal-text i, p.modal-text {
  color: $light-black;
}

.no-image-icon {
  color: $ivory;
  font-size: 75px;
  &:hover {
    cursor: pointer;
  }
  &.modal-text {
    color: $light-black;
  }
}

.no-image-narrow-item {
  max-width: 136px;
  div.hover {
    cursor: pointer;
  }
}

.wide-book-item {
  @media screen and (min-width: 576px) {
    max-width: 290px;
  }
}

.book-item {
  max-width: 136px;
  &:hover {
    z-index: 1000;
    transition: .4s;
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
  }
  img {
    max-height: 192px;
    &:hover {
      cursor: pointer;
    }
  }
}

div.dropdown-menu.show {
  background-color: $ivory;
  transform: translate(1px, 4px) !important;
  min-width: unset;
  button.dropdown-item:first-of-type {
    &:hover {
      background-color: $teal-hover;
      color: $ivory;
    }
  }
  button.dropdown-item:nth-of-type(2) {
    &:hover {
      background-color: $red-hover;
      color: $ivory;
    }
  }
}

button.dropdown-toggle {
  &::after {
    display: none;
  }
}

.text-container {
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;

  .text-content {
    transition: max-height 0.3s ease;
    max-height: 270px;
    overflow: hidden;

    &.expanded {
      max-height: none;
    }
  }

  .fade-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4rem;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      $ivory
    );
    pointer-events: none; // Ensure clicks pass through
  }
}

button.btn-link {
  margin-top: -25px;
  color: $purple;
}

.modal-body {
  &.book-detail {
    img {
      max-width: 100%;;
    }
  }
}