@import '../../../styles/variables';

h2, h3, p, i {
  color: $ivory;
}

h2 {
  font-size: $font-size-medium;
  &.name {
    background-color: $teal;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

h3 {
  font-size: $font-size-medium;
  border-bottom: solid 3px $salmon;
  margin-right: -15px;
  margin-left: -15px;
  &.no-underline {
    border-bottom: none;
  }
}

section {
  background-color: $light-black;
}