@import '../../../styles/variables';

h2, h3, p, i {
  color: $ivory;
}

h2 {
  font-size: $font-size-medium;
  &.name {
    background-color: $salmon;
    color: $light-black;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    i {
      color: $light-black;
    }
  }
}

h3 {
  font-size: $font-size-medium;
  border-bottom: solid 3px $salmon;
  margin-right: -15px;
  margin-left: -15px;
  &.no-underline {
    border-bottom: none;
  }
}

section {
  background-color: $light-black;
  &.constrain {
    width: 49%;
    display: inline-block;
    margin: 10px 4px;
    vertical-align: top !important;
    @media screen and (max-width: 875px) {
      width: 100%;
      margin: 10px 0;
    }
  }
}