@import '../../../styles/variables';
main {
  min-height: 100vh;

  form {
    background-color: $light-black;
    max-width: 550px;

    label, p {
      color: $ivory;
    }
  }
}

button.login-button {
  background-color: $teal;
  color: $ivory;
  &:hover {
    background-color: $ivory;
    color: $teal;
    i {
      color: $teal;
    }
  }
}

button.password-toggle {
  margin-left: -38px;
  background: transparent;
  position: absolute;
  color: $teal;
  margin-top: -3px;
  &:active {
    border-color: transparent;
  }
}

a {
  color: $teal;
}