@import '../../../styles/variables';
main {
  min-height: 100vh;

  form {
    background-color: $light-black;
    max-width: 550px;

    label, p {
      color: $ivory;
    }

    label span {
      color: $red;
    }

    div.validate {
      background-color: $salmon;
      p {
        color: $light-black;
      }
    }

    input {
      border-radius: 4px;
      border: 1px solid #ccc;
      min-height: 36px;
      &:focus-visible {
        outline: none;
      }
      &.is-invalid {
        border: solid $red 1px;
      }
    }
  }
}

button.password-toggle {
  margin-left: -38px;
  background: transparent;
  position: absolute;
  color: $teal;
  margin-top: -3px;
  &:active {
    border-color: transparent;
  }
}

a {
  color: $teal;
}