@import '../../../styles/variables';

form {
  background-color: $ivory;
}
section.form-section {
  @media screen and (max-width: 768px) {
    width: 100% !important;
  }
}

input, textarea {
  border-radius: 4px;
  border: 1px solid #ccc;
  min-height: 36px;
  &:focus-visible {
    outline: none;
  }
  &.is-invalid {
    border: solid $red 1px;
  }
}

.text-container {
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;

  .text-content {
    transition: max-height 0.3s ease;
    max-height: 70px;
    overflow: hidden;

    &.expanded {
      max-height: none;
    }
  }

  .fade-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4rem;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      $ivory
    );
    pointer-events: none;
  }
}

button.btn-link {
  margin-top: -25px;
  color: $purple;
}

.ng-select {
  &.is-invalid {
    border: solid $red 1px;
    border-radius: 4px;
  }
}

.search-section {
  background-color: #f38ba2;
}

input[type="date"] {
  width: 100% !important;
  color: black !important;
  background-color: white !important;
  text-align: left !important;
}

/* For WebKit (iOS Safari, Chrome, etc.) */
input[type="date"]::-webkit-datetime-edit {
  color: black !important;
  text-align: left !important;
  min-width: 100% !important;
}

/* For Firefox */
input[type="date"]::-moz-datetime-edit {
  color: black !important;
  text-align: left !important;
  min-width: 100% !important;
}