<section
  class="form-section mx-auto"
  [class.w-75]="noModal"
>
  @if(!isManuallyAdding && !editingBook && (!addingBestSeller || (addingBestSeller && !identifiedBook))) {
    <div class="py-4 px-3 search-section rounded">
      <ng-select
        [items]="books$ | async"
        [typeahead]="bookInput$"
        [loading]="isLoading"
        loadingText="Searching..."
        [(ngModel)]="selectedBook"
        (change)="onBookChange($event)"
        placeholder="Search title and author..."
      >
      <ng-template
        ng-label-tmp
        let-item="item"
        >
        <div class="d-flex align-items-center gap-1">
          <span>{{ item.title }}</span>
          @if(item.authors && identifiedBook) {
            @for(author of item.authors; track $index ) {
              <span
                class="small badge bg-secondary"
                >{{ author }}</span
              >
            }
          } @else {
            <span
              class="small badge bg-secondary"
              >{{ item.authors }}</span
            >
          }
        </div>
        </ng-template>
        <ng-template
          ng-option-tmp
          let-item="item"
          let-search="searchTerm"
          >
          <span class="ng-value-label">
            <div class="d-flex align-items-center gap-1"
              [style.cursor]="item.disabled ? 'default' : null"
            >
              <span [ngOptionHighlight]="search">{{ item.title }}</span>
              @if(item.authors) {
                @for(author of item.authors; track $index ) {
                  <span
                    [ngOptionHighlight]="search"
                    class="small badge bg-black"
                  >
                    {{ author }}
                  </span
                >
                }
              }
              @if(alreadyAdded(item.title, item?.authors)) {
                <span
                  class="badge text-bg-secondary text-uppercase ms-2"
                >
                  Already added
                </span>
              }
            </div>
          </span>
        </ng-template>
      </ng-select>
    </div>
  }

  @if(!selectedBook){
    <button
      class="btn btn-outline-secondary border-0 d-block ms-auto me-3 my-2"
      type="button"
      (click)="toggleManualAdd()"
    >{{!isManuallyAdding ? 'Add book manually' : 'Search for a book' }}</button>
  }

  @if(selectedBook || isManuallyAdding){
  <form
    #ngForm="ngForm"
    class="mt-2 p-3 rounded"
    [formGroup]="form"
    (ngSubmit)="onSubmit()">
    <div class="row">
      <div
        [ngClass]="selectedBook?.image_url || selectedBook?.overview ? 'col-8' : ''"
      >
        @if(form.controls['title']; as title) {
          <div class="mb-2">
            <label class="d-block text-secondary" for="title">
              <i class="bi bi-book me-1"></i>
              Title
            </label>
            <input
              [class.is-invalid]="
                (!title.valid && title.touched) ||
              (!title.valid && ngForm.submitted)"
              class="w-100"
              type="text"
              formControlName="title"
              id="title"
            />
          </div>
        }
        @if(form.controls['author']; as author) {
          <div class="mb-2">
            <label class="d-block text-secondary" for="author">
              <i class="bi bi-pen me-1"></i>
              Author
            </label>
            <input
              [class.is-invalid]="
                (!author.valid && author.touched) ||
              (!author.valid && ngForm.submitted)"
              class="w-100"
              type="text"
              formControlName="author"
              id="author"
            />
          </div>
        }
        @if(form.controls['format']; as format) {
          <div class="mb-2">
            <label class="d-block text-secondary" for="format">
              <i class="bi bi-book-half me-1"></i>
              Format
            </label>
            <ng-select
              [class.is-invalid]="
                (!format.valid && format.touched) ||
              (!format.valid && ngForm.submitted)"
              [items]="formatTypes"
              bindLabel="label"
              bindValue="value"
              formControlName="format"
            >
            </ng-select>
          </div>
        }
        @if(form.controls['status']; as status) {
          <div class="mb-2">
            <label class="d-block text-secondary" for="status">
              <i class="bi bi-bookmark-check me-1"></i>
              Status
            </label>
            <ng-select
              [class.is-invalid]="
                (!status.valid && status.touched) ||
              (!status.valid && ngForm.submitted)"
              [items]="statusOptions"
              bindLabel="label"
              bindValue="value"
              formControlName="status"
            >
            </ng-select>
          </div>
        }
        @if(form.controls['status'].value === 4) {
          @if(form.controls['rating']; as rating) {
            <div class="mb-2">
              <label class="d-block text-secondary" for="rating">
                <i class="bi bi-bookmark-heart me-1"></i>
                Rating
              </label>
              <ng-select
                [class.is-invalid]="
                  (!rating.valid && rating.touched) ||
                (!rating.valid && ngForm.submitted)"
                [items]="ratingOptions"
                bindValue="value"
                formControlName="rating"
              >
              <ng-template ng-option-tmp let-item="item">
                <span [innerHTML]="item.label"></span>
              </ng-template>
              <ng-template ng-label-tmp let-item="item">
                <span [innerHTML]="item.label"></span>
              </ng-template>
              </ng-select>
            </div>
          }
          @if(form.controls['end']; as end) {
            <div class="mb-2">
              <label
                class="d-block text-secondary"
                id="end"
              >
                <i class="bi bi-calendar-event me-1"></i>
                Finished on
              </label>
              <div class="input-group w-100 flex-nowrap">
              <input
                [class.is-invalid]="
                  (!end.valid && end.touched) ||
                (!end.valid && ngForm.submitted)"
                id="end"
                #endInput="ngbDatepicker"
                type="date"
                formControlName="end"
                ngbDatepicker
                />
                <button
                  class="btn date-button bg-white border-secondary-subtle"
                  type="button"
                  (click)="endInput.toggle()"
                >
                <i class="bi bi-calendar-event me-1"></i>
              </button>
            </div>
            </div>
          }
          <div class="mb-2">
            <label class="d-block text-secondary" for="comments">
              <i class="bi bi-body-text me-1"></i>
              Comments
            </label>
            <textarea
              class="w-100"
              formControlName="comments"
              rows="4"
              id="comments"
            ></textarea>
          </div>
        }
        <button class="btn main-teal-button mt-3"
          type="submit"
        >
          @if(isSubmitting) {
            <span class="me-2">Saving</span>
            <span class="spinner-border button" role="status">
            </span>
          } @else {
            <span class="me-2">Save</span>
            <i class="bi bi-save"></i>
          }
        </button>
      </div>
      @if(selectedBook?.image_url || selectedBook?.overview) {
        <div class="col-4 mt-4">
          @if(selectedBook?.image_url) {
            <img [src]="selectedBook.image_url" alt="book cover" class="w-100">
          }
          @if(selectedBook?.overview) {
            <div class="text-container small">
              <div class="text-content" [class.expanded]="isExpanded">
                {{ selectedBook.overview }}
              </div>
              @if(!isExpanded) {
                <div class="fade-overlay"></div>
              }
            </div>
            <button
              type="button"
              class="px-0 btn btn-link d-block mx-auto text-decoration-none"
              (click)="toggleView()">
              {{ isExpanded ? 'View Less' : 'View More' }}
            </button>
          }
        </div>
      }
    </div>
  </form>
  }
</section>


