@import '../../../styles/variables';

section.form-section {
  @media screen and (max-width: 768px) {
    width: 100% !important;
  }
}
form {
  background-color: white;
}
input, textarea {
  border-radius: 4px;
  border: 1px solid #ccc;
  min-height: 36px;
  &:focus-visible {
    outline: none;
  }
  &.is-invalid {
    border: solid $red 1px;
  }
}

.ng-select {
  &.is-invalid {
    border: solid $red 1px;
    border-radius: 4px;
  }
}

.search-section {
  background-color: #f38ba2;
}
